@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar navbar-expand-lg {
  position: absolute;
  width: 1440px;
  height: 55px;
  display: flex;

  background: #ffffff;
}
.home {
  position: absolute;
  height: 46px;
  top: 3px;
  display: flex;
  gap: 870px;
  align-items: center;
}

.login {
  display: flex;
  gap: 10px;
  width: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.01em;
  float: right;

  color: #000000 !important;
}
.login a {
  color: #000000;
}

.Signin {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18.1px;
  line-height: 46px;
  position: absolute;
  width: 120px;
  height: 46px;
  left: 1000px;
  top: 440px;
  color: #ffffff;
  background: #0d6efd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.ID {
  color: #000000 !important;
}
.main-container {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 50px;
  display: flex;
  max-width: 100%;
  background-image: url("./assets/Background.svg");
}
.foto {
  width: 700px;
  height: 500px;
  left: 650px;
  top: 80px;
  float: left;
}
.main img {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 540px;
  top: 10px;
  opacity: 5;
}
.kotak {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 715px;
  height: 350px;
  left: 620px;
  top: 262px;
}
.pesan p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 108px;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-right: 60px;
  top: 100px;
}
.pesan {
  margin-bottom: 10px;
  margin-top: -90px;
}

.text {
  margin-top: -20px;
  padding-right: 10px;
}
.tulisan {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.posisi {
  top: auto;
}
.text p {
  font-size: 23px;
  top: 100px;
  line-height: 36px;
  letter-spacing: 0.01em;
  float: right;
  padding-right: 43px;

  color: #ffffff;
}

.container {
  position: absolute;
  width: 100%;
  height: 680px;
  left: 0px;
  top: 55px;
  max-width: 100%;
  background-image: url("./assets/Background.svg");
}
.badan {
  position: absolute;
  width: 450px;
  height: 454px;
  left: calc(50% - 500px / 2);
  top: 50px;
  justify-content: center;
  padding: 40px;
  background: #ffffff;
  border-radius: 12px;
}
.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  padding-right: 20px; /* Menyisakan ruang untuk ikon mata */

  align-items: center;
}

.password-toggle-icon {
  position: absolute;
  top: 36px;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.error-message {
  margin-top: -29px; /* Menyesuaikan jarak dari input field */
  text-align: center;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

input {
  /* display: block; */
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: sans-serif;
  font-size: 16px;
  outline: none;
  border-radius: 12px;
  background-color: rgb(239, 230, 230);
}
form {
  justify-content: center;
}

label {
  width: 83px;
  height: 45px;

  /* Desktop/H2/Reguler */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  display: flex;

  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}

.btn {
  color: white;

  width: 100%;

  height: 80px;

  font-size: 18px;

  background-color: #007bff;

  border-radius: 10px;
}

.btn2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 19px;
  gap: 0px;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  width: 224px;
  height: 48px;
  left: 115px;
  top: 358px;
  background: #0a58ca;
  border-radius: 12px;
  color: #ffffff;
  /* Primary/Brandeis Blue/70 */

  background: #0a58ca;
  border-radius: 12px;
  color: #ffffff;
}

.btn2:hover {
  background-color: #0f549b;
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

#wrab:target .modal {
  transition: 0.56s;

  transform: translateY(100px);

  position: relative;

  visibility: visible;
}

#wrab:target .bg-color {
  position: absolute;

  top: 0;

  bottom: 0;

  right: 0;

  left: 0;

  background-color: rgb(0, 0, 0, 0.5);
}
